@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  display: flex;
  flex-flow: column;
  justify-content: none;
  align-items: none;
  min-width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #162d49;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif; }

.cabecera {
  background: #162d49;
  color: #ebe6d0;
  text-align: center; }
  .cabecera__titulo {
    min-height: 90px;
    margin-top: 40px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .cabecera__link {
    text-decoration: none;
    color: #ebe6d0; }
  .cabecera .navbar {
    background-color: #fff;
    min-height: 45px;
    text-transform: capitalize; }
    .cabecera .navbar .navbar-brand,
    .cabecera .navbar .nav-link,
    .cabecera .navbar .dropdown-item {
      font-weight: 1000;
      color: #162d49; }

.titulo_contenido {
  color: #ebe6d0;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 20px; }

main {
  min-height: 82vh; }
  main h2.titulo-form {
    color: #ebe6d0;
    font-size: 35px; }
  main .card .pasta__del__dia-video {
    width: auto;
    height: 415px;
    border: 2px solid #fff; }
  main .card .pasta__receta-foto {
    object-fit: contain; }
  main .card .card-body-title {
    color: #162d49;
    text-transform: capitalize;
    font-weight: bolder; }
  main .card .card-body-text {
    color: #162d49;
    font-size: 20px; }
  main .card .card-body .pasta_ingrediente {
    color: #162d49;
    font-size: 20px;
    align-self: flex-start;
    padding-left: 25px; }
  main .card .card-body .pasta_ingrediente li {
    list-style-type: disc; }
  main .card .card-body h4.card-text {
    color: #162d49;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder; }

.contenido__principal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #162d49;
  gap: 30px;
  padding-top: 20px; }
  .contenido__principal .form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: #efefef;
    gap: 15px;
    border: 2px solid white;
    padding: 7px;
    border-radius: 10px; }

.contenedor-carrusel {
  margin-top: 20px;
  max-width: 80%;
  margin-left: 10%; }
  .contenedor-carrusel .carousel-item img {
    max-height: 500px; }

footer.pie__de__pagina i.fab {
  color: #162d49;
  font-size: 25px;
  margin-top: 15px; }

.pie__de__pagina {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  min-width: 100%;
  margin-top: 20px;
  background-color: #fff; }
  .pie__de__pagina .redes {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .pie__de__pagina .redes .redes__ul {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      gap: 20px;
      transition: all 400ms; }
    .pie__de__pagina .redes .redes__ul > li:hover {
      transform: scale(0.8, 0.8);
      border-bottom: 3px solid #162d49; }
