@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

/**** BODY****/
body {
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #162d49;
}

/****GENERALIZANDO****/

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.cabecera {
  background: #162d49;
  color: #ebe6d0;
  text-align: center;
}

.cabecera__titulo {
  min-height: 90px;
  margin-top: 40px;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cabecera__link {
  text-decoration: none;
  color: #ebe6d0;
}

.navbar {
  background-color: #fff;
  min-height: 45px;
  text-transform: capitalize;
  
}

.nav__ul {
  color: #162d49;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
}

main {
  min-height: 82vh;
}

.container-fluid {
  color: #162d49;
  font-weight: 1000;
}

.navbar-brand,.nav-link, .dropdown-item {
  font-weight: 1000;
  color: #162d49;
}

.contenido__principal {
  background-color: #162d49;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}

.contenido__pasta__dia {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; 
}

.titulo_contenido {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 20px;
}

.contenedor__receta {
  border: 2px solid #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 530px;
  padding-top: 15px;
}

.pasta__del__dia-video {
  height: 415px;
  border: 2px solid #fff;
}

.card-title {
  color: #162d49;
  text-transform: capitalize;
  font-weight: bolder;
}
.card-text {
  color: #162d49;
  font-size: 20px;
}

.pasta__receta-foto {
  object-fit: contain;
  
}

.pasta_ingrediente {
  color: #162d49;
  font-size: 20px;
  align-self: flex-start;
  padding-left: 25px;  
}

.pasta_ingrediente li {
  list-style-type:disc;
}

.pasta__titulo {
  text-transform: capitalize;
  color: #162d49;
  font-size: 35px;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pasta__receta {
  color: #162d49;
  font-size: 20px;
  text-align: justify;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.contenedor__formulario {
  background-color: #fff;
  height: 500px;
  width: 300px;
  border: 2px solid white;
}

.form {
  background-color: #162d49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 15px;
  border: 2px solid white;
  height: 300px;
  padding: 7px;
}

.contenedor-carrusel{
  margin-top: 20px;
  max-width: 80%;
  margin-left: 10%;
}

.carousel-item img {
  max-height: 500px;
}

.pie__de__pagina {
  min-height: 80px;
  margin-top: 20px;
  background-color: #fff;
}

.redes__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 50px;
}