
$bg-color:#162d49;
$text-color-primary: #162d49;
$text-color: #ebe6d0; 
$nav-bgcolor:#fff;
$bg-form:#efefef;

$colors:( 
   ("color1":$bg-color,
    "color2":$nav-bgcolor,
    "color3":$text-color,
    "color4":$text-color-primary,
    "color5":$bg-form,)
);

